<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edusoho.kuozhi"
    android:versionCode="1"
    android:versionName="1.0.0"
    android:windowSoftInputMode="adjustPan">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:hardwareAccelerated="true"
        android:theme="@style/edusohoTheme"
        android:name="com.edusoho.kuozhi.EdusohoApp"
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:theme="@style/startTheme"
            android:name="com.edusoho.kuozhi.ui.StartActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:name="com.edusoho.kuozhi.ui.IndexPageActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:name="com.edusoho.kuozhi.ui.SplashActivity"
            android:configChanges="keyboardHidden|orientation"></activity>

        <activity
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:name="com.edusoho.kuozhi.ui.NetSchoolActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:name="com.edusoho.kuozhi.ui.SettingActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:name="com.edusoho.kuozhi.ui.SchCourseActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:name="com.edusoho.kuozhi.ui.CourseInfoActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:name="com.edusoho.kuozhi.ui.CourseLessonActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.edusoho.kuozhi.ui.LoginActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.edusoho.kuozhi.ui.RegistActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:name="com.edusoho.kuozhi.ui.AboutActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.edusoho.kuozhi.ui.FavoriteActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.edusoho.kuozhi.ui.NotificationActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.edusoho.kuozhi.ui.LearningActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.edusoho.kuozhi.ui.AlipayActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.edusoho.kuozhi.ui.QrSchoolActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:name="com.edusoho.kuozhi.ui.SearchActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:name="com.edusoho.plugin.qr.CaptureActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:name="com.edusoho.plugin.video.EduSohoVideoActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity
            android:launchMode="singleTop"
            android:name="com.edusoho.plugin.photo.ViewPagerActivity"
            android:configChanges="keyboardHidden|orientation"></activity>

        <activity
            android:launchMode="singleTop"
            android:name="com.edusoho.plugin.photo.SchoolSplashActivity"
            android:configChanges="keyboardHidden|orientation"></activity>

        <receiver android:name="com.edusoho.kuozhi.broadcast.NetStatusReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

    <uses-sdk
        android:targetSdkVersion="8"
        android:minSdkVersion="2" />

</manifest>
