<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edusoho.kuozhi.homework" >

    <application
        android:allowBackup="true">
        <activity
            android:name=".HomeworkSummaryActivity" >
        </activity>
        <activity
            android:name=".HomeworkActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>
