<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edusoho.kuozhi"
    android:windowSoftInputMode="adjustResize">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <!-- 获取MAC地址-->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:hardwareAccelerated="true"
        android:theme="@style/EdusohoAppTheme">

        <service android:name="com.edusoho.kuozhi.v3.service.M3U8DownService" />
        <service android:name="com.edusoho.kuozhi.v3.service.DownLoadService" />
        <service android:name="com.edusoho.kuozhi.v3.service.EdusohoMainService" />

        <activity
            android:name=".v3.ui.StartActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/startTheme" />
        <activity
            android:name=".v3.ui.DefaultPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".v3.ui.QrSchoolActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".v3.view.qr.CaptureActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".v3.ui.SettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".v3.ui.MsgReminderActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.OnlineDurationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.AboutActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.AboutSchool"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.SuggestionActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".v3.ui.QrSearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".v3.ui.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".v3.view.photo.SchoolSplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.NetSchoolActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".v3.ui.ClassroomDiscussActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".v3.ui.ClassroomDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".v3.ui.CourseDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".v3.ui.ServiceProviderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".v3.ui.BulletinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".v3.ui.RegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.LessonDownloadingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.DownloadManagerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.LessonActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.NewsCourseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".v3.ui.NewsCourseProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.test.TestpaperActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.test.TestpaperParseActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.friend.FriendNewsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.friend.GroupListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.friend.ServiceListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.edusoho.kuozhi.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".v3.ui.friend.AddPhoneContactActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.friend.AddNormalFriendActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.friend.SearchFriendActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.payCourse.PayCourseActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.FragmentPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".v3.ui.WebViewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.edusoho.kuozhi.v3.view.photo.ViewPagerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- 【必须】 exported设置为true -->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action"-->
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2">
            <intent-filter android:priority="0x7fffffff">

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <!-- 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 -->
            <intent-filter android:priority="0x7fffffff">
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <receiver android:name=".v3.service.PushMessageReceiver">
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <service android:name="com.edusoho.kuozhi.v3.service.EdusohoMainService" />

        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />

        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>
                <!-- 【必须】 请修改为当前APP名包.PUSH_ACTION，如demo的包名为：com.qq.xgdemo -->
                <action android:name="com.edusoho.kuozhi.PUSH_ACTION" />
            </intent-filter>
        </service>

        <!-- 【必须】 请修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100122237" />
        <!-- 【必须】 请修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="A27EK3I9M9PQ" />


    </application>

</manifest>
