#course_lesson_content img{
    width: 100%;
}

#course_lesson_content {
    width: 100%;
}

#message_content a{
    
}
.course_comment_table {
    height: 80px;
    border-bottom: 1px solid #ccc;
}

.rating_color {
    color: #999;
    font-weight: normal;
}

.course_lesson_table_1:after {
  position: absolute;
  right: 8px;
  font-family: 'chevron';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\f054";
  top: 50%;
  margin-top: -0.5em;
  color:inherit;
}

.course_lesson_table {
    height: 50px;
    border-bottom: 1px solid #ccc;
}
.card {
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 10px;
    background: white;
    margin-bottom: 15px;
}
.card-head {
    font-size: large !important;
    color:#03b884 !important;
    //color:#0066FF !important;
    margin-bottom: 10px !important;
}

.nickname {
    color: rgba(82,155,234,255);
}
.school {
    display:block;
    color: rgba(82,155,234,255);
    font-size: 12px;
    position: relative;
    bottom:0px;
}
.small-avatar {
    width: 48px;
    height: 48px;
}
#course_head {
    padding:5px !important;
    margin:0px !important;
    position: absolute !important;
    margin-top:40px !important;
    width:100% !important;
    //border-top: 1px solid rgba(158,158,158,255) !important;
}
.card-ul-bg {
    padding-top: 5px !important;
}
.card-bg {
    padding: 0px !important;
    border-top: 1px solid rgb(249,249,249) !important;
    border-bottom: 1px solid rgb(249,249,249) !important;
    border-radius: 1px;
    margin: 15px;
    background: white;
}

.card-bg-a
{
    margin: 0px !important;
    padding: 0px !important;
}

.card-bg-a:after{
    content:"" !important;
}

#grid tr{
    height:80px;
}

#grid td{
    width:30%;
    text-align: center;
}
#grid td>a.icon:not(.button):before {
    position:absolute;
    top:2px;
    left:0;
    font-size: 30px;
    margin:auto;
    width: 100%;
}
#grid td>a:not(.button) {
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    top: 3px;
    height: 60px;
    overflow: hidden;
    font-size:12px;
    font-weight:normal;
    text-decoration: none;
    color: rgba(82,155,234,255);
    text-align: center;
    display: inline-block;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    line-height: 100px;
    position: relative;
    margin: 0;
}

#grid td a.pressed {
font-weight: bold;
background: white;
}

#grid td div.pressed {
font-weight: bold;
background: white;
}

#data_lis a.pressed{
    background: rgba(82,155,234,255);
}

#carousel_dots {
    text-align: center; 
    margin-left: auto; 
    margin-right: auto; 
    clear: both; 
    position: relative; 
    top: -20px; 
    z-index: 200;
}

.carousel_paging2 {
    border-radius: 10px;

    background: #ccc;
    width: 10px;
    height: 10px;
    display:inline-block;
}

.carousel_paging2_selected {
    border-radius: 10px;

    background: #000;
    width: 10px;
    height: 10px;
    display:inline-block;
}

#splash_dots {
    text-align: center; 
    margin-left: auto; 
    margin-right: auto; 
    clear: both; 
    position: relative; 
    top: -20px; 
    z-index: 200;
}

.splash_paging2 {
    border-radius: 10px;

    background: #ccc;
    width: 10px;
    height: 10px;
    display:inline-block;
}

.splash_paging2_selected {
    border-radius: 10px;

    background: #000;
    width: 10px;
    height: 10px;
    display:inline-block;
}

.spacer {
    width: 10px;
    float: left;
}

.carousel_content {
    -webkit-transform: translate3d(0, 0, 0);
}

.splash_content {
    -webkit-transform: translate3d(0, 0, 0);
}

//列表字体颜色
.list_span_color {s
    color:black;
}
.list span {
    color:#03b884;
    font-weight: normal;
    font-size: 14px;
}
.tab_hide {
    display:none;
}

.hide {
    display:none;
}

.divider_none{
    font-size: 14px !important;
    padding: 20px 20px 20px 10px !important;
}
.button_noright{
    font-size: 17px;
    padding: 7px 0px 7px 7px !important;
    margin: 7px 0px 7px 7px !important;
}
.button_noleft{
    font-size: 17px;
    padding: 7px 7px 7px 0px !important;
    margin: 7px 7px 7px 0px !important;
}

.custom_button_red {
    border-radius: 5px !important;
    background-color:#CC3300 !important;
    width:90%;
    color:white !important;
}

.custom_button_red.pressed {
    background-color:#de773f !important;
}


.custom_splash_button {
    position: relative; 
    top: 80%; 
    border-radius: 5px !important;
    background-color:#1E90FF !important;
    width:50%;
    color:white !important;
}

.custom_splash_button.pressed {
    background-color:#87CEFF !important;
}

.custom_button_blue {
    border-radius: 5px !important;
    background-color:#00BA84 !important;
    width:90%;
    color:white !important;
}
.custom_button_blue.pressed {
    background-color:#65c294 !important;
}

.search_sch_btn {
    height: 100px;
    border-radius: 5px !important;
    background-color:#00BA84 !important;
    width:100px;
    color:white !important;
}
.search_sch_btn.pressed {
    background-color:#65c294 !important;
}

.learn_btn {
    color:#03b884;
    border-width: 1px;
    border-style: solid;
    border-radius:3px;
    padding:5px;
}
.learn_btn.pressed {
    color:#fdb933;
}

.input_bg:before {
    float: left;
    top: 31px;
    left:10px;
    color: #03b884;
}
.li_sel:after{
    content: "" !important;
    font-size: 1.5em;
    font-family: 'IcoMoon';
    speak: none;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    left: -3px;
    top: 2px;
    color:rgba(82,155,234,255) !important;
}
.li_sel_color{
    color:#03b884 !important;
    //color:rgba(82,155,234,255) !important;
}
#loadmask {
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
}
#toastmask {
    display: block;
    width: auto;
    height: auto;
    background: #000;
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
}
#afui_toast { 
    padding: 20px;
    position:absolute;
    top:45%;
    z-index:999999; 
}

.stars-off-0, .stars-off-1, .stars-off-2, .stars-off-3, .stars-off-4, .stars-off-5 {
    display:inline-block;
    *display:inline;
    *zoom:1;
    overflow:hidden;
    width:16px;
    height:16px;
    background:url("images/star-off.png");
}

.stars-off-5 {
    width:80px;
}

.stars-off-4 {
    width:64px;
}

.stars-off-3 {
    width:48px;
}

.stars-off-2 {
    width:32px;
}

.stars-off-1 {
    width:16px;
}

.stars-off-0 {
    width:0px;
}

.stars-0, .stars-1, .stars-2, .stars-3, .stars-4, .stars-5 {
    display:inline-block;
    *display:inline;
    *zoom:1;
    overflow:hidden;
    width:16px;
    height:16px;
    background:url("images/star-on.png");
} 

.stars-5 {
    width:80px;
}

.stars-4 {
    width:64px;
}

.stars-3 {
    width:48px;
}

.stars-2 {
    width:32px;
}

.stars-1 {
    width:16px;
}

.stars-0 {
    width:0px;
}

.favorite {
    color:red !important;
}

.quick_comment
{
    width: auto !important;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    background: white;
    margin: 5px;
}

.backButton_left {
    left:1px !important;
    width:50px !important;
    top: -3px;
    position: absolute !important;
}

.header_btn_right {
    position: relative !important;
    float:right !important;
    font-size:20px !important;
    left: 1px !important;
    width:50px !important;
}
.quick_comment.pressed
{
    background: rgba(82,155,234,255) !important;
}


.quick_comment_wrap{
    padding-bottom: 5px;
    text-align: left;
}

.school_logo {
    font-size: 2.5em !important;
    height: 30px;
    width: 80px;
}
.auto_height {
    height: auto !important;
}

.sch_card {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background: white;
    margin:5px !important;
}

.custom_normal_color{
    color:#444 !important;
}

.course_teacher {
    color: #999 !important;
}

.course_lesson_type_normal_color{
    color:#4F94CD !important;
}

.course_lesson_type_yellow_color{
    color:#EEAD0E !important;
}

.school_delbtn {
    background-image: url('images/remove.png');
    height:20px;
    width:20px;
    position: relative;
    top:-80px;
    left: 120px;
}

.backbtn_font{
    font-size: 14px;
}

.lesson_content_table {
    background-image: url(images/img1.jpg) !important;
    width:100% !important;
    height:400px;
    text-align: center;;
}
.lesson_content_center {
    width: auto !important;
}

.bottom_refresh_div {
    margin: 8px;
    height: 50px;
    padding-top:10px;
    background: white;
    text-align:center;
}

.bottom_refresh_div img{
    vertical-align:middle;
    width: 20px;
    height: 20px;
}

#main {
    padding:0px !important;
}

.setting_single_card{
    padding:10px !important;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    background: white;
    margin-bottom: 15px;
}

.setting_mulit_card{
    padding:0px !important;
    margin: 10px;
    border: 1px solid #ccc;
    border-bottom: 0px;
    border-radius: 3px;
    padding: 10px;
    background: white;
    margin-bottom: 15px;
}

.setting_mulit_card a:after{
    position: absolute;
    right: 8px;
    font-family: 'chevron';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\f054";
    top: 50%;
    margin-top: -0.5em;
    color: #03b884;
}

.setting_mulit_card a{
    position: relative;
    display: block;
    color: inherit;
    text-decoration: none;
}

.setting_mulit_card li{
    display: block;
    list-style: none;
    position: relative;
    padding: 10px !important;
    border-bottom: 1px solid #ccc;
}

.setting_mulit_card li:first-child {
    border-top: 0px solid #ccc !important;
}

.setting_single_card a{
    padding:0px !important;
    margin: 0px !important;
}

.normal_list {
    background: rgba(238,238,238,255) !important;
}

#header {
    border:0px !important;
}

#defaultHeader{
    height: 40px;
    border-bottom: 1px solid #ccc !important;
}
.custom_header {
    height: 40px;
    border-bottom: 1px solid #ccc !important;
}

#course_head {
    border-top: 1px solid #ccc !important;
}

.ul_bg_null {
    background: rgba(238,238,238,255) !important;
}

.list_content {
    padding: 10px;
}

.list_content p {
    font-size: 12px !important;
}

#login_user_avatar {
    width: 60px;
    height: 60px;
}

.audioplaylayout {
    margin: 0 auto;
}

.play_progress_pressed {
    border-radius: 10px;
    display:block;
    background: #ccc;
    height: 15px;
    width:0px;
}
.play_progress_layout
 {
    border-radius: 10px;
    background: #03b884;
    height: 15px;
    width:100%;
 }

 #audio_layout {
    margin: 5px;
 }

.play_status
{
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.playtime{
    display: inline-block;
    padding:5px;
}

.system_normal {
    color:#53575E !important;
}

.tab_content {
    padding:1px;
}

.play_btn{
    font-size: 30px;
}

.header_btn {
    font-size: 20px !important;
    padding:10px !important;
    top: -5px !important;
    position: relative !important;
}

.header_btn_pressed {
    color: #03b884 !important;
}

.back_text{
    //line-height: 35px;
    //display: inline-table;
    //vertical-align: middle;
    font-size: 14px;
}

.center_div {
    text-align: center;
    position:absolute;
    top:50%; 
    left:50%;         
    margin:-100px 0 0 -100px;
    width:200px; 
    height:200px;
}

.qr_sch_btn
{
    color:#03b884;
    display: block;
    text-align: center;
    border: 1px solid #03b884;
    border-radius: 3px;
    padding: 10px;
    background: #ccc;
    margin-bottom: 15px;
    width:100px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.qr_sch_btn.pressed {
    color:#fdb933;

}

.qr_login_sch_btn
{
    font-size: 60px !important;
}

.normal_btn{
    color:#03b884;
    top: 50px;
    left: 50px;
    position: relative;
}

.rsch_title {
    padding: 5px;
    color:#555;
}
.rsch_info {
    padding:5px;
    color: #ccc;
}

.rsch_bg {
    background: #ffffff;
    border-top: 1px solid rgb(249,249,249) !important;
    border-bottom: 1px solid rgb(249,249,249) !important;
    border-radius: 1px;
    padding: 0px !important;    
    background: white;
    margin: 15px;
}

.rsch_logo {
    width:130px;
    height:80px;
    border: 0px solid rgb(249,249,249) !important;
}

.course_list_bottom {
    margin-top: 5px;
    padding:10px;
    height:40px;
    border-top: 1px solid rgb(238,238,238) !important;
}
.course_price
{
    color:#E79022;
}

.noData {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.qr_color
{
    color:#03b884;
}

.learn_progress {
    background:#f9b719 !important;
}

.learnnum {
    padding-top: 5px;
    padding-bottom: 5px;
    color:#888 !important;
}

.lesson_bg {
    background: #f6f6f6;
}

.lesson_item:after{
    content:"" !important;
}

.lesson_item_fa
{
    font-size: 14px !important;
}

.lesson_item {
    background: #f6f6f6 !important;
    margin:0px !important;
    padding:10px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}

.lesson_bg {
    background: #ffffff !important;
    border-bottom: 1px solid #ddd !important;
}

.lesson_bg a {
    padding:10px !important;
}

.lesson_bordr {
    height: 30px !important;
    padding-left: 10px !important;
    border-bottom: 0px !important;
}

.lesson_number {
    display: inline-block;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.lesson_title {
    display: inline-block;
    line-height: 40px;
}

.lesson_learnStatuses {
    display: inline-block;
    width: 15px;
    height: 20px;
    background: rgb(67, 221, 67);
    border-radius: 50px 0px 0px 50px;
}

.lesson_bordr span {
    padding-left: 10px !important;
}

.small-avatar {
    border-radius: 5px;
}


.learn-status {
    top:5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
}

.learn-status em {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    
    border-radius: 20px;
}

.learn-status-learning em {
    background: #08D490;
    width: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.learn-status-finished em {
    background: #08D490;
}
