<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuozhiv2" >

    <application
        android:name="com.edusoho.kuozhi.EdusohoApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/EdusohoAppTheme" >
        <activity
            android:theme="@style/kuozhiV2StartTheme"
            android:name=".KuozhiActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:name=".KuozhiSplashActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
    </application>

</manifest>
