<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="22"
    android:versionName="@string/apk_version"
    package="com.edusoho">

    <application
        android:hardwareAccelerated="true"
        android:name="com.edusoho.kuozhi.v3.EdusohoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/EdusohoAppTheme">
        <activity
            android:theme="@style/kuozhiV2StartTheme"
            android:name="com.edusoho.kuozhi.KuozhiActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:name=".kuozhi.KuozhiSplashActivity"
            android:configChanges="keyboardHidden|orientation" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="550f8dacfd98c56a3200084f" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Official" />

    </application>

</manifest>
