<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="4"
    android:versionName="2.1.0"
    package="com.edusoho.kuozhi">

    <application
        android:name=".EdusohoApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/EdusohoAppTheme">
        <activity
            android:theme="@style/CustomStartTheme"
            android:name=".KuozhiActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:name=".KuozhiSplashActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
    </application>

</manifest>
